attrs==25.1.0
aws-cdk-lib==2.173.2
aws-cdk.asset-awscli-v1==2.2.226
aws-cdk.asset-kubectl-v20==2.1.4
aws-cdk.asset-node-proxy-agent-v6==2.1.0
aws-cdk.cloud-assembly-schema==38.0.1
boto3==1.37.5
botocore==1.37.5
cattrs==24.1.2
cffi==1.17.1
colorama==0.4.6
constructs==10.4.2
cryptography==44.0.2
ecdsa==0.19.1
importlib_resources==6.5.2
iniconfig==2.0.0
jmespath==1.0.1
jsii==1.108.0
packaging==24.2
pluggy==1.5.0
publication==0.0.3
pyasn1==0.4.8
pycparser==2.22
PyJWT==2.10.1
pytest==8.3.5
python-dateutil==2.9.0.post0
rsa==4.9
s3transfer==0.11.3
six==1.17.0
typeguard==2.13.3
typing_extensions==4.12.2
urllib3==2.3.0
